<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<form method="post">
    <div class="form-group">
        <label>Name:
            <input th:field="${event.name}" class="form-control">
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Description:
            <input th:field="${event.eventDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email:
            <input th:field="${event.eventDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location:
            <input th:field="${event.eventDetails.location}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.location}"></p>
    </div>
    <div class="form-group">
        <label>Registration Required:
            <input type="checkbox" th:field="${event.eventDetails.regRequired}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.regRequired}"></p>
    </div>
    <div class="form-group">
        <label>Number of Attendees:
            <input type="number" th:field="${event.eventDetails.noOfAttendees}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.noOfAttendees}"></p>
    </div>
    <div class="form-group">
<!--        TODO how to get category list to repopulate if event creation hits error-->
        <label>Event Category:
            <select th:field="${event.eventCategory}" class="form-control">
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}"
                ></option>
            </select>
        </label>
        <p class="error" th:errors="${event.eventCategory}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>